<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 默认的日志 -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!-- 需要log4j.properties配置 -->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 全局缓存 默认为开启 -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.gzh.entity"/>
    </typeAliases>

    <mappers>
        <mapper class="com.gzh.dao.BookMapper"/>
    </mappers>

</configuration>