<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.gzh.entity.Address">
        <property name="address" value="石家庄"/>
    </bean>
    <bean id="student" class="com.gzh.entity.Student">
        <!-- 普通值注入 -->
        <property name="name" value="郭"/>
        <!-- Bean注入 -->
        <property name="address" ref="address"/>
        <!-- 数组注入 -->
        <property name="books">
            <array>
                <value>唐诗三百首</value>
                <value>宋词</value>
                <value>元曲</value>
            </array>
        </property>
        <!-- list注入 -->
        <property name="hobby">
            <list>
                <value>DOTA2</value>
                <value>写代码</value>
                <value>听歌</value>
            </list>
        </property>
        <!-- Map注入 -->
        <property name="card">
            <map>
                <entry key="身份证" value="130425199101014546"/>
                <entry key="银行卡" value="62178888888888"/>
            </map>
        </property>
        <!-- Set注入 -->
        <property name="games">
            <set>
                <value>DOTA2</value>
                <value>炉石传说</value>
                <value>开心消消乐</value>
            </set>
        </property>
        <!-- null -->
        <property name="wife">
            <null/>
        </property>
        <!-- Properties -->
        <property name="info">
            <props>
                <prop key="性别">男</prop>
                <prop key="身高">172cm</prop>
            </props>
        </property>
    </bean>



</beans>